.container {
    max-width: 1200px;
    width: 100%;
    padding: 0 10px;
    margin: 0 auto;
  box-sizing: border-box;
}

.section-title {
    font-size: 48px;
    color: white;
    margin-bottom: 5%;
    text-align: center;
    text-transform: capitalize;

    @include monster-bold;
}

.purple-line {
    width: 59px;
    height: 4px;
    background-color: $basic-color;
    border: none;
}